<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
<modules>
            <remove name="WebDAVModule" />
        </modules>
		  <handlers>   
		  <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
		  <remove name="OPTIONSVerbHandler"/>
		  <remove name="TRACEVerbHandler"/>
		   <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\shubh\AppData\Local\Programs\Python\Python38\python.exe|C:\Users\shubh\AppData\Local\Programs\Python\Python38\lib\site-packages\wfastcgi-3.0.0-py3.8.egg\wfastcgi.py" 
		   resourceType="Unspecified" requireAccess="Script" />
		  </handlers>
        <directoryBrowse enabled="true" />
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="server.app" />
  <add key="PYTHONPATH" value="C:\Users\shubh\Desktop\ProteinToX" />
    <add key="WSGI_LOG" value="C:\Users\shubh\Desktop\ProteinToX\sve.log"/>

</appSettings>
</configuration>